<div class="card mt-3" style="width: 18rem;">
    <img src="{{adjust_route}}{{this.picture}}" class="card-img-top" alt="{{this.title}}">
    <div class="card-body" style="background-color: rgb(190, 190, 190)">
        <h5 class="card-title">{{this.title}}</h5>
        <p class="card-text">{{this.description}}</p>
        <p class="card-text">Цена: {{this.cost}} руб.</p>
        <p class="card-text">Калории: {{this.callQuantity}}</p>
    </div>
</div>
